@model List<DiziFilmUygulamas.Models.Movie>

<h2>Film Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Tür</th>
            <th>Açıklama</th>
            <th>Puan</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Type</td>
                <td>@movie.Description</td>
                <td>@movie.AvgRate</td>
            </tr>
        }
    </tbody>
</table>
